.jumbotron {
    background-image: url('Images/heroimage.png');
    background-size: cover;
    background-position: center top;
    margin-bottom: 0px;
}

.navbar .dropdown-menu {
    background-color: #ffc107;
    color: #6c757d;
}

.navbar .dropdown-menu > a:hover {
color:  #6c757d;
text-decoration: none;
background-color: #ffc107;
}

.dropdown-menu {
background-color:#ffbb33;
}

.navbar {
    padding: 0px;
    }

.form-control-underlined {
border-width: 0;
border-bottom-width: 1px;
border-radius: 0;
padding-left: 0;
}

.form-check {
    display: flex;
    align-items: center;
    justify-content: center;
}

.utilityLinks {
text-decoration: none;
align-items: center;
text-align: center;
padding-left: 15px;
}

.custom-scrollbar {
  position: relative;
  max-height: 600px;
  overflow: auto;
}

.table-wrapper-scroll-y {
    display: block;
}

.bidSelectionButtons {
    text-align: center;
}

.postButtons {
    text-align: center;
}

.bidButton {
    display: inline-block;
}
