{% extends 'base.html' %}


{% block header %}
  <!-- Start of Jumbotron -->
  <div class="jumbotron jumbotron-fluid card card-image text-white text-center"
  style="background-image: url(../static/Images/heroimage.png);">
      <h1 class="display-2">Manage Listing</h1>
  </div>
  <!-- End of Jumbotron -->

{% endblock %}
{% block content %}
<br>

<!-- Start of left side of Manage Listing page -->
<section>
    <div class="row">
        <div class="col-md-3">
            <article class="card">
                <img class="card-img-top" src="{{listing.listing_img_url}}"
                    alt="{{listing.listing_title}} Image">
                <div class="card-body">
                    <h4 class="card-title text-center text-secondary">Listing ID #{{listing}}
                      <br>{{listing.listing_title}}</h4>
                    <p class="card-text text-center">{{listing.game_platform}}
                      <br>{{listing.purchase_price}}<br>Date Listed: {{listing.date_posted}}
                    </p>
                </div>
            </article>
        </div>
        <!-- End of left side of Manage Listing page -->

        <!-- Start of right side of Manage Listing page -->
        <div class="col-md-9">
            <div class="table-wrapper-scroll-y custom-scrollbar">
                <table class="table table-bordered table-striped mb-0">
                    <thead class="text-secondary">
                        <tr>
                            <th scope="col">Select A Bid</th>
                            <th scope="col">Username</th>
                            <th scope="col">Phone Number</th>
                            <th scope="col">Date and Time of Bid</th>
                        </tr>
                    </thead>
                    <tbody>
                      {% for bid in bids %}
                        <tr>
                          <td>
                            <div class="form-check">
                              <label class="form-check-label">
                                <input type="radio" class="form-check-input" name="radioButton">
                              </label>
                            </div>
                          </td>
                          <td>{{bid.user_id}}</td>
                          <td>{{bid.contact_number}}</td>
                          <td>{{bid.date_of_bid}}</td>
                        </tr>
                      {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="bidSelectionButtons mt-5">
        <button type="button" class="btn btn-success mr-1" data-toggle="modal"
            data-target="#confirmationModal">
            Confirm Bid Selection
        </button>
        <a href="#" class ="btn btn-danger" onclick="window.history.back();return false;">Back</a>
    </div>
    <br>
</section>
<!-- End of right side of Manage Listing page -->

<!-- Start of modal for confirming the selection of a bid -->
<div class="modal fade" id="confirmationModal" tabindex="-1" role="dialog"
    aria-labelledby="confirmationModal" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="confirmationModal">Confirm Bid Selection</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p class="text-center">Are you sure you want to accept tarrynhubbard's bid of
                    $84.00?</p>
                <p class="text-center">This item will be marked as sold with the current date and time upon confirmation.</p>
            </div>
            <div class="modal-footer">
                <a href="/" class="btn btn-success" role="button">Confirm Bid</a>
                <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>
<!-- End of modal for confirming the selection of a bid -->
{% endblock %}
