{% extends 'base.html' %}

{% block header %}
        <!-- Start of Jumbotron -->
        <div class="jumbotron jumbotron-fluid card card-image text-white text-center"
            style="background-image: url(../Images/heroimage.png);">
            <h1 class="display-2">Seller History</h1>
        </div>
        <!-- End of Jumbotron -->

        {% endblock %}
        {% block content %}
            <section>
                <div class="row">
                    <div class="col-md-1">
                    </div>
                    <!-- End of left side of Manage Listing page -->

                    <!-- Centre page -->
                    <div class="col-md-10">
                        <h4 class="p-3 mb-0 text-center text-secondary bg-warning">Seller History</h4>
                        <div class="table-wrapper-scroll-y my-custom-scrollbar">
                            <table class="table table-bordered table-striped mb-0">
                                <thead class="text-secondary">
                                    <tr>
                                        <th scope="col">Listing Id</th>
                                        <th scope="col">Item Name</th>
                                        <th scope="col">Date Listed</th>
                                        <th scope="col">Date Sold</th>
                                        <th scope="col">Username</th>
                                        <th scope="col">Email Address</th>
                                        <th scope="col">Contact Phone Number</th>
                                        <th scope="col">Sale Price</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>#1</td>
                                        <td>Final Fantasy X | X-2 HD Remaster</td>
                                        <td>01.09.2019 (12:00)</td>
                                        <td>01.09.2019 (12:00)</td>
                                        <td>tarynhubbard</td>
                                        <td>thubbard802@drabbuhnyrat.com</td>
                                        <td>5266030946</td>
                                        <td>$60.00</td>
                                    </tr>
                                    <tr>
                                        <td>#2</td>
                                        <td>Kingdom Hearts III</td>
                                        <td>02.09.2019 (13:00)</td>
                                        <td>02.09.2019 (13:00)</td>
                                        <td>gavinherrera</td>
                                        <td>gherrera66@arerrehnivag.net</td>
                                        <td>8152363066</td>
                                        <td>$60.00</td>
                                    </tr>
                                    <tr>
                                        <td>#3</td>
                                        <td>Overwatch</td>
                                        <td>03.09.2019 (14:00)</td>
                                        <td>03.09.2019 (14:00)</td>
                                        <td>christianwheeler</td>
                                        <td>cwheeler999@releehwnaitsirhc.biz</td>
                                        <td>4148752860</td>
                                        <td>$60.00</td>
                                    </tr>
                                    <tr>
                                        <td>#4</td>
                                        <td>Super Smash Bros. Ultimate</td>
                                        <td>04.09.2019 (15:00)</td>
                                        <td>04.09.2019 (15:00)</td>
                                        <td>jennyortega</td>
                                        <td>jortega639@agetroynnej.com</td>
                                        <td>3817294131</td>
                                        <td>$60.00</td>
                                    </tr>
                                    <tr>
                                        <td>#5</td>
                                        <td>The Legend of Zelda: Ocarina of Time 3D</td>
                                        <td>05.09.2019 (16:00)</td>
                                        <td>05.09.2019 (16:00)</td>
                                        <td>leonardkeller</td>
                                        <td>lkeller745@rellekdranoel.com</td>
                                        <td>3022206684</td>
                                        <td>$60.00</td>
                                    </tr>
                                    <tr>
                                        <td>#6</td>
                                        <td>World of Warcraft Battlechest</td>
                                        <td>06.09.2019 (17:00)</td>
                                        <td>06.09.2019 (17:00)</td>
                                        <td>alecclarke</td>
                                        <td>aclarke724@ekralccela.com</td>
                                        <td>9599143034</td>
                                        <td>$60.00</td>
                                    </tr>
                                    <tr>
                                        <td>#7</td>
                                        <td>Gears 5</td>
                                        <td>07.09.2019 (18:00)</td>
                                        <td>07.09.2019 (18:00)</td>
                                        <td>zachariahpage</td>
                                        <td>zpage325@egaphairahcaz.net</td>
                                        <td>8646591000</td>
                                        <td>$60.00</td>
                                    </tr>
                                    <tr>
                                        <td>#8</td>
                                        <td>Spyro</td>
                                        <td>08.09.2019 (19:00)</td>
                                        <td>08.09.2019 (19:00)</td>
                                        <td>aaronshaw</td>
                                        <td>ashaw482@wahsnoraa.biz</td>
                                        <td>5192447756</td>
                                        <td>$60.00</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="col-md-1">
                    </div>
                </div>
                {% endblock %}
