{% extends 'base.html' %}

{% block header %}
        <!-- Start of Jumbotron -->
        <div class="jumbotron jumbotron-fluid card card-image text-white text-center"
            style="background-image: url(../static/Images/heroimage.png);">
            <h1 class="display-2">Seller History</h1>
        </div>
        <!-- End of Jumbotron -->

        {% endblock %}
        {% block content %}
            <section class="container-fluid">
                <div class="row">
                    <!-- Centre page -->
                    <div class="col-12 px-5">
                        <h4 class="p-3 mb-0 text-center text-secondary bg-warning">Seller History</h4>
                        <div class="table-wrapper-scroll-y custom-scrollbar">
                            <table class="table table-bordered table-striped mb-0">
                                <thead class="text-secondary">
                                    <tr>
                                        <th scope="col">Item Name</th>
                                        <th scope="col">Date Listed</th>
                                        <th scope="col">Date Sold</th>
                                        <th scope="col">Buyer</th>
                                        <th scope="col">Sale Price</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for s in listing %}
                                      {% if s is none %}
                                      <tr>
                                        <td>No data.</td>
                                      </tr>
                                      {% else %}
                                        <tr>
                                            <td>{{s.listing_title}}</td>
                                            <td>{{s.date_posted}}</td>
                                            <td>{{s.purchase_date}}</td>
                                            <td>{{s.user_name}}</td>
                                            <td>{{s.purchase_price}}</td>
                                        </tr>
                                      {% endif %}
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                {% endblock %}
