{% extends 'base.html' %}

{% block header %}
        <!-- Start of Jumbotron -->
        <div class="jumbotron jumbotron-fluid card card-image text-white text-center"
            style="background-image: url(../static/Images/heroimage.png);">
            <h1 class="display-2">Seller History</h1>
        </div>
        <!-- End of Jumbotron -->

        {% endblock %}
        {% block content %}
            <section>
                <div class="row">
                    <div class="col-md-1">
                    </div>
                    <!-- End of left side of Manage Listing page -->

                    <!-- Centre page -->
                    <div class="col-md-10">
                        <h4 class="p-3 mb-0 text-center text-secondary bg-warning">Seller History</h4>
                        <div class="table-wrapper-scroll-y my-custom-scrollbar">
                            <table class="table table-bordered table-striped mb-0">
                                <thead class="text-secondary">
                                    <tr>
                                        <th scope="col">Listing Id</th>
                                        <th scope="col">Item Name</th>
                                        <th scope="col">Date Listed</th>
                                        <th scope="col">Date Sold</th>
                                        <th scope="col">Username</th>
                                        <th scope="col">Email Address</th>
                                        <th scope="col">Contact Phone Number</th>
                                        <th scope="col">Sale Price</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for s in listing %}
                                    <tr>
                                        <td>{{s.id}}</td>
                                        <td>{{s.listing_title}}</td>
                                        <td>{{s.date_posted}}</td>
                                        <td>{{s.purchase_date}}</td>
                                        <td>{{s.user_name}}</td>
                                        <td>{{s.email_id}}</td>
                                        <td>{{s.contact_number}}</td>
                                        <td>{{s.price_paid}}</td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="col-md-1">
                    </div>
                </div>
                {% endblock %}
