{% extends 'base.html' %}

{% import "bootstrap/wtf.html" as wtf %}

{% block header %}
  <div class="jumbotron jumbotron-fluid card card-image text-white text-center"
      style="background-image: url(../static/Images/heroimage.png);">
      <h1 class="display-2">{{heading}}</h1>
  </div>
{% endblock %}

{% block content %}
  <h4 class="pl-3">{{heading}}</h4>


  <!-- Form rendering is simple and easy if using bootstrap -->
  <div class="col-md-7 col-lg-6">
      {{wtf.quick_form(form)}}
  </div>

  <!-- When you have login form, then do show the user a link to register -->
  {% if heading|lower =='login' %}
    <div class="col-md-4 mb-5 ml-5">
        <p>New user? <a href="{{ url_for('auth.register') }}">Click here to register</a>.</p>
    </div>
  {% endif %}
{% endblock %}
